@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelho1: #FF6363;
    --vermelho2: #FF6969;
    --vermelho3: #F28282;
    --laranja: #FFAB76;
    --cinzaTexto: #575454;
    --cinzaInput: #EBEBEB;
    --cinzaPreço: #A69E9E;
    --amareloEstrela: #F2C94C;
    --grayFooter: #FFF8F8;
    --footerIcons : black;
}

body {
    min-height: 100vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Header */

header {
    font-family: 'Comfortaa', sans-serif;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    cursor: pointer;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

header ul li {
    list-style: none;
    padding: 10px 5px;
    border-radius: 5px;
    transition: .2s ease;
}

header ul li a {
    text-decoration: none;
    color: var(--cinzaTexto);
    font-weight: 400;
    
}

header ul li:hover {
    background-color: var(--cinzaInput);
}

.More {
    display: flex;
    align-items: center;
}

.cartSection {
    display: flex;
    align-items: center;
    gap: 32px;
}

.cartSection form {
    display: flex;
    align-items: center;
}

.cartSection form input {
    width: 280px;
    height: 40px;
    padding-left: 10px;
    background-color: var(--cinzaInput);
    border-radius: 10px 0px 0px 10px;
    border: none;
    outline: none;
    color: #9F9898;
}

.cartSection form button {
    width: 40px;
    height: 40px;
    color: #F2F2F2;
    background-color: var(--vermelho1);
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.cartSection form button img {
    width: 15px;
    color: white;
}

/* image section */

.images-section {
    width: 100%;
    display: grid;
    grid-template-columns: 860px 500px;
    grid-template-rows: 270px 270px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.image1 {
    background-image: url(../img/imagem\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.content1 {
    margin-right: 50px;
}

.image1 h2 {
    font-family: 'Coiny', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: var(--laranja);
    line-height: 120%;
}

.image1 h4 {
    margin-top: 20px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: start;
}

.image1 button {
    margin-top: 20px;
    width: 190px;
    height: 50px;
    border-radius: 24px;
    background-color: var(--vermelho1);
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

.image2 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(../img/Rectangle\ 34.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content2 {
    margin-top: 50px;
}

.image2 h2 {
    font-family: 'Coiny', sans-serif;
    font-size: 30px;
    color: var(--laranja);
    line-height: 100%;
}

.image2 h4 {
    font-size: 14px;
    font-family: 'Comfortaa', sans-serif;
    color: var(--cinzaTexto);
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    margin-top: 10px;
    
}

.image3 {
    grid-area: 2 / 2 / 3 / 3;
    background-image: url(../img/Rectangle\ 35.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.content3 {
    margin-right: 30px;
}

.image3 h4 {
    font-size: 18px;
    font-family: 'Coiny', sans-serif;
    font-weight: 400;
    line-height: 130%;
    color: var(--cinzaTexto);
}

.image3 h2 {
    font-family: 'Coiny', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    color: var(--laranja);
}

.image3 .shop {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.image3 .shop a {
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--vermelho1);
    line-height: 100%;
}

/* feature section */

.featuresSection {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Comfortaa', sans-serif;
}

.featuresSection img {
    width: 40px;
    height: 40px;
}

.featuresSection .feature1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.featuresSection .feature1Texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.featuresSection .feature1 h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    color: var(--cinzaTexto);
}

.featuresSection .feature1 h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
}

.featuresSection .feature2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.featuresSection .feature2Texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.featuresSection .feature2 h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    color: var(--cinzaTexto);
}

.featuresSection .feature2 h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
}

.featuresSection .feature3 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.featuresSection .feature3Texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.featuresSection .feature3 h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    color: var(--cinzaTexto);
}

.featuresSection .feature3 h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
}

/* newArrivals section */

.newArrivals {
    margin-top: 50px;
    width: 100%;
    height: 1070px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.newArrivals .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.newArrivals .titles h2 {
    font-family: 'Coiny', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: var(--cinzaTexto);
    line-height: 120%;
}

.newArrivals .titles h4 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    font-family: 400;
    color: var(--cinzaTexto);
    line-height: 130%;
}

.newArrivals .products {
    width: 100%;
    height: 770px;
    display: grid;
    grid-template-columns: repeat(4, 295px);
    grid-template-rows: repeat(2, 350px);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    font-family: 'Comfortaa', sans-serif;
}

.newArrivals .products .product1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.newArrivals .products .product1 h2 {
    font-size: 16px;
    color: var(--cinzaTexto);
    font-weight: 600;
    line-height: 120%;
}

.alljunto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.price .redprice {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: var(--vermelho1);
    line-height: 100%;
}

.price .grayprice {
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: var(--cinzaPreço);
    line-height: 100%;
}

.unicprice {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: var(--cinzaTexto);
    line-height: 100%;
}

.juntinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.newArrivals .products .product2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;     
}

.newArrivals .products .product2 h2 {
    font-size: 16px;
    color: var(--cinzaTexto);
    font-weight: 600;
    line-height: 120%;
}

.newArrivals .products .product3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}

.newArrivals .products .product3 h2 {
    font-size: 16px;
    color: var(--cinzaTexto);
    font-weight: 600;
    line-height: 120%;
}

.newArrivals .products .product4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}

.newArrivals .products .product4 h2 {
    font-size: 16px;
    color: var(--cinzaTexto);
    font-weight: 600;
    line-height: 120%;
}

.newArrivals .products .product5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}

.newArrivals .products .product5 h2 {
    font-size: 16px;
    color: var(--cinzaTexto);
    font-weight: 600;
    line-height: 120%;
}

.newArrivals .products .product6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}

.newArrivals .products .product6 h2 {
    font-size: 16px;
    color: var(--cinzaTexto);
    font-weight: 600;
    line-height: 120%;
}

.newArrivals .products .product7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}

.newArrivals .products .product7 h2 {
    font-size: 16px;
    color: var(--cinzaTexto);
    font-weight: 600;
    line-height: 120%;
}

.newArrivals .products .product8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}

.newArrivals .products .product8 h2 {
    font-size: 16px;
    color: var(--cinzaTexto);
    font-weight: 600;
    line-height: 120%;
}

/* banner */

.banner {
    width: 100%;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .bannerLeft {
    width: 50%;
    height: 430px;
    background-color: #F3FDE9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.banner .titleline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bannerLeft h4 {
    font-family: 'Coiny', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
    color: var(--cinzaTexto);
}

.bannerLeft .linhabanner {
    width: 60%;
    height: 1px;
    border: 1px solid var(--cinzaTexto);
}

.bannerLeft .h2h5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bannerLeft .h2h5 h2 {
    font-family: 'Coiny', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: var(--laranja);
    line-height: 90%;
    text-transform: uppercase;
}

.bannerLeft .h2h5 h5 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    color: var(--cinzaTexto);
    text-align: center;
}

.bannerLeft button {
    width: 190px;
    height: 48px;
    background-color: var(--vermelho1);
    color: white;
    border: none;
    border-radius: 24px;
}

.bannerright {
    width: 50%;
    height: 430px;
    background-image: url(/assets/img/Rectangle\ 38.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


